body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    padding: 8px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    outline: none;
}

.search-container button {
    padding: 8px 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.search-container button:hover {
    background-color: #45a049;
}

.song-image {
    text-align: center;
    margin-bottom: 20px;
}

.song-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.music-player {
    text-align: center;
}

.music-player h1 {
    margin-bottom: 10px;
}

.player {
    margin-bottom: 20px;
}

.controls button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2196F3;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #0b7dda;
}
